# **함수 생성 및 활용**

![](https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Function_machine2.svg/220px-Function_machine2.svg.png)

### **1. input(입력 매개변수)**
1. 그냥 만들기
2. 여러 개의 입력매개변수 사용하기
3. *입력매개변수 <br>
    -> 입력값의 갯수를 제한하지 않고 받고자 할 때 사용<br>
    -> 입력된 데이터 타입은 tuple

### **2. output**

* 함수의 결과를 출력하는 방법 두가지
    * print : 화면에 출력만 수행한다
    * return : 화면 출력 + 함수 외부로 결과 반환(진짜 output)
        * 결과를 별도 변수에 저장하면, 화면 출력은 생략됨
        * 함수는 return을 만나면 종료됨
* 여러 개 output
    * print : 화면에 출력만 수행

### **3.예외처리**
#### **(1) 입력값에 대한 예외 처리 필요**
    - 입력값의 타입에 대한 확인 필요(정수 : int, 실수 : float, 문자열 : str, 리스트 : list, 딕셔너리 : dict)
    
#### **(2) 오류에 대한 일반 처리(try, except)**

* try :
    * 오류를 감지하고자 하는 코드 블럭
* except :
    * 발생된 오류를 처리

**1) 특정 오류 처리**<br> 
    try: 
    <br>
    <br>
    except 에러이름Error:
        
**2) 오류 전체 처리**<br> 
    try: 
    <br>
    <br>
    except Exception as e:

In [1]:
# 1. input(입력 매개변수)
def hello_world() :
    print('Hello, World!')
    
hello_world()

Hello, World!

In [2]:
# 2. 여러 개의 입력매개변수 사용하기
def buy(product, cnt = 1) :
    if cnt == 1 :
        print(product + '을 1개 구입했습니다')
    else :
        print(product + '을 여러개 구입했습니다')

buy(product = '연필', cnt = 0) # 매개변수 이름과 입력값
buy(product = '연필')           # 기본값 지정 매개변수 생략
buy('연필')                  # 기본값 지정 매개변수 생략
buy('연필',0)                # 입력매개변수 이름 생략
buy(cnt = 0, product = '연필') # 입력값 순서 바꾸기

연필을 여러개 구입했습니다
연필을 1개 구입했습니다
연필을 1개 구입했습니다
연필을 여러개 구입했습니다
연필을 여러개 구입했습니다

In [5]:
# *입력매개변수
def numbers1(*nums) : # * -> 주는대로 입력받겠다
    print(nums, type(nums))
    
numbers1(1, 2, 3)
numbers1(2, 4, 6, 8, 10) # 튜플

(1, 2, 3) <class 'tuple'>
(2, 4, 6, 8, 10) <class 'tuple'>

---------------------------------

In [6]:
def numbers2(*nums) : 
    return nums

numbers2(100, 99, 98)

(100, 99, 98)

In [7]:
# 함수 출력 : print
a1 = numbers1(1, 2, 3)
print(a1)

(1, 2, 3) <class 'tuple'>
None

In [8]:
# 함수 출력 : return
a2 = numbers2(100, 102, 103)
print(a2)

(100, 102, 103)

-----------------------------------

In [9]:
def calculate(a, b) :
    sum_result = a + b
    mult_result = a * b
    return sum_result, mult_result

r1, r2 = calculate(5, 7)
print(r1, r2)

# 결과값 둘 중 하나만 필요한 경우
r1, _ = calculate(10, 5)

12 35

-------------------------------------------

In [10]:
def divide(a, b) : #세션
    result = a / b
    return result

divide(10, 0)

ZeroDivisionError: division by zero

In [11]:
# 입력값에 대한 예외 처리 
def divide(a, b) :
    if b == 0 :
        print('나누는 값이 0이 될 수 없음')
    else: 
        result = a / b
        return result

divide(10, 0)

나누는 값이 0이 될 수 없음

In [12]:
# 입력값의 타입에 대한 확인
a = 1
type(a) == int # type(a) is int

True

In [13]:
b = [1,2,3]
type(b) == list

True

In [14]:
c = {'a':100, 'b': [1,2,3]}
type(c) == dict

True

---------------------------------------

In [15]:
# 특정 오류
try:
    num_str = "가나다라"
    num = int(num_str)
    
except ValueError:
    print("정수로 변환할 수 없는 문자열입니다.")

정수로 변환할 수 없는 문자열입니다.

In [16]:
def divide(a, b) :
    try :
        result = a / b
        return result
    
    except ZeroDivisionError:
        print("0으로 나눌수 없습니다.")
        
divide(100, 0)

0으로 나눌수 없습니다.

---------------------------------------

In [17]:
# 오류 전체
def divide(a, b) :
    try :
        result = a / b
        return result
    
    except Exception as e:
        print("오류가 발생하였습니다:", e)
        
divide(100, 0)

오류가 발생하였습니다: division by zero